.order {
  margin: auto;
  text-align: center;
  display: block;
  margin-top: 50px;
  margin-bottom: 50px;
}

.conformation-text {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.payment-container {
  margin: auto;
  max-width: 500px;
  margin-bottom: 60px;
}

input {
  width: 500px;
}

.checkout-buynow-button {
  margin-top: 40px;
  width: 150px;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  border-style: solid;
  border-color: grey;
  border-width: 2px;
  background-color: lightgrey;
}

.checkout-buynow-button:hover {
  border-width: 2px;
  border-color: black;
  font-weight: bold;
}