.contact-divider {
  width: 700px;
  height: 1px;
  background: #000;
}

.contact-container-div {
  margin: auto;
  width: 700px;
  margin-bottom: 60px;  
}

.div1, .div2, .div3, .div4, .div5 {
  padding-left: 5px;
  margin-bottom: 5px;
}

.space {
  padding-bottom: 15px;
}

/* Noroff vid */
.form-input {
  margin: auto;
  margin: 0;
  display: block;
  margin-bottom: 20px;
}

.form-message {
  margin: auto;
  margin: 0;
  display: block;
  padding-bottom: 80px;
}

.contact-submit-button {
  width: 200px;
}