.contact-divider {
  margin: auto;
  max-width: 700px;
  height: 1px;
  display: block;
  background: #000;
}

.contact-container-div {
  margin: auto;
  max-width: 700px;
  display: block;
  margin-bottom: 60px;  
}

/* I could put them all in one class, but I like to have them separate */
.div1, .div2, .div3, .div4, .div5 {
  margin: auto;
  max-width: 700px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  margin-bottom: 5px;
}

.space {
  padding-bottom: 15px;
}

/* Noroff vid form */
.form-input {
  margin: auto;
  max-width: 500px;
  width: 100%;
  margin: 0;
  display: block;
  margin-bottom: 20px;
}

.form-message {
  margin: auto;
  max-width: 500px;
  width: 100%;
  margin: 0;
  display: block;
  padding-bottom: 80px;
}

.contact-submit-button {
  margin: auto;
  max-width: 200px;
  width: 100%;
}