/* Mobile screen */
@media (max-width: 710px) {
  .jacket-container-div {
    margin: 0 auto;
    max-width: 400px;
    margin-bottom: 60px;    
    border-style: solid;
    border-width: 1px;
    background: white;
  }

  .jacket-image-div {
    margin: auto;    
    margin-top: 1px;
    max-width: 400px;
    height: auto;
    width: 100%;
    background-size: cover;
  }

  img {
    margin: auto;
    max-width: 400px;
    width: 80%;    
    height: auto;
    display: flex;
  }

  .text-container {
    margin: auto;
    text-align: center;
    margin-top: 20px;
  }

  .brand-text {
    margin: auto;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .money {
    margin-left: 20px;
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 10px;
  }

  .add-to-cart-button {
    margin: auto;
    background-color: lightgrey;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 25px;
    border-width: 2px;
    font-weight: bold;
    max-width: 120px;
    width: 100%;
    height: auto;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 10px;
  }
}


/* desktop screen */
@media (min-width: 710px) {
  .jacket-container-div {
    margin: 0 auto;
    max-width: 650px;
    width: 100%;
    margin-bottom: 60px;
    border-style: solid;
    border-width: 1px;
    background: white;
    display: flex;    
  }

  .jacket-image-div {
    margin: auto;
    max-width: 280px;
    margin-top: 1px;
    margin-left: 1px;
    padding-right: 1px;
    display: block;
  }

  img {
    width: 100%;
    height: auto;
  }

  .text-container {
    margin: auto;
    max-width: 300px;
    width: 100%;
    display: block;
    margin-left: 10px;
    margin-top: 20px;
    align-items: start;
  }

  .brand-text {
    max-width: 300px;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 80px;
  }

  .money {
    margin: auto;
    display: inline-block;
    margin-right: 20px;
  }

  .add-to-cart-button {
    margin: auto;
    background-color: lightgrey;
    border-style: solid;
    border-color: grey;
    border-radius: 25px;
    border-width: 2px;
    max-width: 120px;
    width: 100%;
    height: auto;
    padding: 10px;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
  }

  .add-to-cart-button:hover {
    border-width: 2px;
    border-color: black;
    font-weight: bold;
  }
}