/* Mobile screen */
@media (max-width: 710px) {
  .successful-image {
    margin: auto;
    display: block;
    max-width: 200px;
    height: auto;
    margin-top: 50px;
  }
  
  .purchase {
    margin: auto;
    text-align: center;  
    font-weight: 400;
    padding-bottom: 30px;
  }

  .home-button {
    margin: auto;
    width: 125px;
    display: block;
    padding: 10px 40px 10px 40px;
    background-color: lightgrey;
    margin-bottom: 60px;
    margin-top: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
}

/* Desktop screen */
@media (min-width: 710px) {
  .successful-image {
    margin: auto;
    display: block;
    max-width: 200px;
    height: auto;
    margin-top: 50px;
  }
  
  .purchase {
    margin: auto;
    text-align: center;  
    font-weight: 400;
    padding-bottom: 30px;
  }

  .home-button {
    margin: auto;
    width: 125px;
    display: block;
    padding: 10px 40px 10px 40px;
    background-color: lightgrey;
    margin-bottom: 60px;
    margin-top: 50px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    cursor: pointer;
    text-decoration: none;
    color: black;
  }
  
  .home-button:hover {
    font-weight: bold;
    border-color: black;
    text-decoration: none;
  }
}
