/* Use import to split up your CSS into manageable chunks */
@import url("./reset.css");
/* Files that are only needed to be imported are called partials */
/* These are marked with an underscore: */
@import url("./variables.css");
@import url("./about.css");
@import url("./contact.css");
@import url("./jackets.css");
@import url("./shoppingcart.css");
@import url("./checkout.css");
@import url("./purchase.css");
/* Feel free to add as many of these imports as you need */

body {
  margin: auto;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  margin: 0;
  background-color: rgb(223, 230, 238);
}

/*div for: header, main, footer. noroff vid*/
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo-div { 
  margin: auto;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 28px;
  height: auto;
  max-width: 334px;
  display: flex;
  justify-content: center;  
}

.logo {
  height: auto;
  width: 100%;
  margin: auto;
}

header {
  position: relative;
  background: lightgrey;
}

.page-main {
  flex-grow: 1;
}

.page-title {
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

.page-text-div { 
  margin: auto;  
  max-width: 840px;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


/* nav & mobile screen */
@media (max-width: 820px) {
  nav, #menu-checkbox {
    display: none;
  }

  #menu-checkbox:checked ~ nav {
    display: block;  
  }

  nav {
    position: absolute;
    background: lightgrey;
    left: 0px;
    margin: auto;
  }

  .mobile-nav-icon { 
    display: none;
  }

  nav a {
    display: block;
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;  
  }

  .current {
    font-weight: bold;
    text-decoration: underline;
  }

  .anchor-jackets-link {
    margin: auto;
    margin-top: 20px;
    max-width: 180px;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    background: #8BCACE;
    display: block;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-decoration: none;
  }

  .home-page-image-div { 
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .home-page-image { 
    margin: auto;
    width: 100%;
    height: auto;
  }
}
 

/*nav & desktop screen*/
@media (min-width: 821px) {
  nav, #menu-checkbox { 
    display: none;
  }

  nav a {
    display: block;
    color: #000;
    padding: 10px 20px;
    font-size: 1rem;
    text-decoration: none;
    display: inline-block;
    text-decoration: none;
  }

  nav {
    padding-top: 15px;
    display: block;
    position: static;
    display: flex;
    justify-content: center;   
  }

  .hamburger-icon {
    display: none;
  }

  a:hover { 
    text-decoration: underline;
  }
  
  .current {
    font-weight: bold;
    text-decoration: underline;
  } 

  .anchor-jackets-link {
    margin: auto;
    margin-top: 20px;
    max-width: 180px;
    height: 40px;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: grey;
    background: #8BCACE;
    display: block;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-decoration: none;
  }

  .anchor-jackets-link:hover {
    border-style: solid;
    border-color: #000;
    font-weight: bold;
    text-decoration: none;
  }

  .home-page-image-div { 
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .home-page-image { 
    margin: auto;
    width: 60%;
    height: auto;
  }
}

footer {
  margin: auto;
  width: 100%;
  text-align: center;
  background-color: lightgrey;
  padding-top: 10px;
  padding-bottom: 10px;
}